        body {
            width:100%;
            height: 100%;
            background-image: url(back.jpg);
            background-attachment: fixed;
            background-size: cover;
            margin: 0%;
            padding: 0%;
            margin-bottom: 4rem;
        }

       /* header {
            position: fixed;
            padding: 0 0;
            width: 100%;
            height: 17.7%;
            background:firebrick;
            line-height: 7rem;
            transform: translateY(0);
            transform: translate3d(0,0,0);
            transition: .25s transform;
            backface-visibility: hidden;
        }
       /* header h1 {
            float: left;
            margin: 0 0 0 4rem;
        }
        header nav {
            float: right;
        }
        header nav ul {
            margin: 0;
            padding: 0;
        }
        header nav li {
            display: inline;
            padding: 0 1.5rem;
            cursor: pointer;
        }
        header nav li:hover {
            background: rebeccapurple;
        }
        div {
            color: red;
            padding: 10rem 6rem; 
        } */
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: firebrick;
            color: black;
            text-align: center;
        }  